:root {
    --background1: #f4f7f6;
    --background2: #023E8A;
    --background3: #F4F3F2;
    --background4:#0096C730;
    --background5:#5e3d1522;
    --background6: #0F285422;
    --color1:#1C4D8D;
    --text-color1: white;
    --text-color2: #0F2854;
    /* --color1: bisque;#F8F3E7  or bisque
    --color2: rgb(94, 61, 21);
    --color3: rgb(71, 46, 15);
    --color4: #FFFFFFAA;
    --color5: #5e3d1522; */
    
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    height:100vh;
    width:100vw;
    background-color:var(--background1);
    font-family:sans-serif;
    overflow-x: hidden;
    color: var(--text-color2);
}
/* Basic User Interface eg. button */
a {
    text-decoration: none;
    color: inherit;
}
button {
    width: 100px;
    height: 30px;
    background-color: var(--background2);
    color: var(--text-color1);
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: var(--color1);
    transform: translateY(-1px);
    box-shadow: 0 0 25px rgba(0,0,0,0.1.5);
}
.container {
    width: 80%;
}
.back-arrow {
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.back-arrow:hover {
    color: var(--color1);
    transform: translateY(-10px);
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
}



/*  */
.top-bar, .footer {
    width:100vw;
    background-color:var(--background2);
}
.top-bar {
    border-bottom: 2px solid var(--color1);
    height:9vh;
}
.top-bar i {
    height: 100%;
}
.footer {
    color: var(--text-color1);
    border-top: 2px solid var(--color1);
    min-height:8vh;
}
.follow-us a {
    font-size: 25px;
}
.follow-us a i:hover {
    transform: translateY(-2px);
}
.top-bar {
    display: flex;
    justify-content: space-between;
    
}
.top-bar-img {
    height:100%;
}
input {
    width: 50vw;
    height: 26px;
}
.search-bar {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    background-image: url("img/search_icon.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 25px;
}
.search-input:focus {
    background-image: none;
}
.sales-banner {
    margin:  20px auto auto auto;
    width: 80%;
}
.sales-banner img {
    width: 100%;
}

/* Category section */
.category-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    /* border: 2px solid var(--background2);
    border-radius: 5px; */
}
.category-section h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}
.category-flex {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    cursor: pointer;
}

.category-item {
    background-color: var(--background1);
    
    outline: 2px solid var(--background2);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.category-item:hover {
    color: var(--text-color1);
    background-color: var(--background2);
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

/* Item card*/
.card-items {
    
    /* 
    my code duh
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    /* 
    my code duh
    margin-top: 10px;
    background-color: var(--background3);
    width: 185px;
    height:245px;
    border: 2px solid var(--background2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit; */

    background-color: #ffffff;
    border-radius: 12px; 
    padding: 20px;
    text-align: center;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.items {
    margin: 10px auto;
    padding-top: 5px;
    text-align: center;
    background-color:var(--background4);
    padding-bottom: 50px;
    border-radius: 5px;
}

/*Item card animation*/
.card:hover {
    background-color: #EEEEEE;
    animation: glow 800ms ease-out infinite alternate;
    border-color: black;
    color: black;
    transform: translateY(-1px);
}
@keyframes glow {
    0% {
		box-shadow: 0 0 7px var(--background2);
    }	
    100% {
		box-shadow: 0 0 7px var(--background1);
    }
}

.card img {
    /* height:70%; */
    height: 160px;
    width: 100%;
    border-bottom: 2px solid var(--background2);
}                     
.card img:hover {
    border-bottom-color: black;
}

/* Product Page */
 .product-card {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: var(--background4);
    padding: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
 }
 .product-button {
    width: 50%;
    height: 45px;
    margin-top: 15px;
    padding-top: 12px;
    
 }
 .product-information {
    display: flex;
    justify-content: space-around;
 }

 .product-information img {
    width: 48%; 
    height: 100%;
    object-fit:cover; 
}
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.product-information input[type="number"] {
    width: 50px;
    padding-top: 8px;
}
.product-information div {
    width: 48%;
}
.info {
    font-size: 1.5em;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info * {
    padding-bottom: 8px;
}


.reviews {
    margin: 30px auto;
    padding: 15px;
    border-color: var(--background2);
    border-radius: 10px;
    background-color: var(--background4);
}
.reviews legend {
    font-weight: bolder;
    border: 2px solid var(--background2);
    background-color: var(--background3);
}
.review {
    padding: 10px;
    background-color: var(--background6); /*#5E3d1522*/
    margin-bottom: 10px;
}
.review div {
    display: flex;
    align-items: center;
}
.star-review {
    margin-left: 20px;
}

/* @media screen and (min-width: 100px) and (max-width: 800px) {
  .product-information {
    font-size: 1.1em;
  }
} */

/* Profile */
.side-padding {
    padding-left: 170px;
}
.profile {
    /* width: 100%; */
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left: 170px;
    margin-top: 20px;
}
.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    height: fit-content;
    outline: 2px solid white;
    outline-offset: 3px;
}
.profile-information {
    margin-left: 20px;
}
.profile-information p:first-child {
    font-size: 25px;
    font-weight: bolder;
}
.sidenav {
    margin: 0;
    height: 100vh;
    min-width: 140px;
    position:fixed;
    top: 0;
    background-color: var(--background2);
    color: var(--background1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2em;
}
.sidenav a:last-child:hover {
    background-color: var(--color1);
    transform: translateY(-2px);
}
.sidenav a:last-child {
    padding-bottom:10px;
    padding-top: 5px;
}
#sidenav-option li{
    margin-bottom: 15px;
    padding: 10px;
}
#sidenav-option li:hover {
    background-color: var(--color1);
    transform: translateY(-2px);
}
#sidenav-option li:first-child {
    font-size: 1.9em;
}

/* Shopping Cart Page */
.shopping-cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px auto ;
    border: 2px solid var(--background2);
    padding: 10px;
    background-color: var(--background4);
}
.cart-card {
    width: 100%;
    height: 220px;
    background-color: var(--background3);
    display: flex;
    border: 2px solid var(--background2);
    align-items: center;
}
.cart-card img {
    width: 230px;
    height: auto;
}
.cart-card input[type="checkbox"] {
    margin-left:45px;
}
.cart-information {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
}
.counter {
    display: flex;
    background-color: var(--background5);
    outline: 2px solid var(--background2);
    border-radius: 8px;
    align-items: center;
}
.counter p {
    padding: 7px 10px;
}
.counter p {
    border-left: 2px solid var(--background2);
    border-right: 2px solid var(--background2);
}
.counter button {
    all: unset;
    padding: 7px 10px;

}

/* Log in Page */
.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-button {
    width: 140px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page img {
    width: 35%;
    height: auto;
}
.login-form {
    width: 35%;
    height: auto;
    background-color: var(--background3);
    padding: 25px;
    border-radius: 8px;
}
.login-form h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 2.4em;
}
.login-form input {
    width: 100%;
    margin-bottom: 35px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}