:root {
    --background1: #f4f7f6;
    --background2: #023E8A;
    --background3: #F4F3F2;
    /* --background4:#0096C730; */
    --background4:#f4f7f6;
    --background5:#5e3d1522;
    --background6: #0F285422;
    --background7:white;
    --color1:#1C4D8D;
    --text-color1: white;
    --text-color2: #0F2854;
    /* --color1: bisque;#F8F3E7  or bisque
    --color2: rgb(94, 61, 21);
    --color3: rgb(71, 46, 15);
    --color4: #FFFFFFAA;
    --color5: #5e3d1522; */
    
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    height:100vh;
    width:100%;
    background-color:var(--background1);
    font-family:sans-serif;
    /* overflow-x: hidden; */
    color: var(--text-color2);
}
/* Basic User Interface eg. button */
a {
    text-decoration: none;
    color: inherit;
}
button {
    width: 100px;
    height: 30px;
    background-color: var(--background2);
    color: var(--text-color1);
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: var(--color1);
    transform: translateY(-1px);
    box-shadow: 0 0 25px rgba(0,0,0,0.1.5);
}
hr {
    background-color: var(--background2);
    height: 3px;
    width: 90%;
    margin: auto;
}
.container {
    width: 80%;
}
select {
    width: 90px;
    height: 30px;
    border: 2px solid var(--background2);
    color: var(--background2);
    font-weight: bold;
    border-radius: 8px;
}
select:focus {
    background-color: var(--background6);
    outline: 2px solid var(--background2);
    outline-offset: 2px;
    
}
input[type=file]::file-selector-button {
  border: 2px solid var(--background2);
  padding: .2em .4em;
  border-radius: .2em;
  background-color: var(--background2);
  color: var(--text-color1);
  transition: 1s;
  cursor: pointer;
}

.back-arrow {
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.back-arrow:hover {
    color: var(--color1);
    transform: translateY(-10px);
}



/*  */
.top-bar, .footer {
    width:100%;
    background-color:var(--background2);
}
.footer {
    color: var(--text-color1);
    border-top: 2px solid var(--color1);
    min-height:8vh;
}
.follow-us a {
    font-size: 25px;
}
.follow-us a i:hover {
    transform: translateY(-2px);
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color1);
    height:9vh;
}
.top-bar i {
    height: 100%;
}
.top-bar-img {
    height:65px;
}
.profile-img {
    padding-top: 6px;
    height: 53px;
    border-radius: 50%;
    margin-left: 14px;
}
.top-bar-img:hover {
    transform: translateY(-2px);
}
.right-bar {
    display:flex;
    align-items: center;
}
input {
    width: 50vw;
    height: 26px;
}
/* .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    
    background-image: url("img/search_icon.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 25px;
} */
.search-input:focus {
    background-image: none;
}

.sales-banner {
    margin:  auto;
    padding-top: 20px;
    width: 80%;
}
.sales-banner img {
    width: 100%;
}
.main-content h1{
    font-size: 2.2em;
    margin: auto;
}
.top-content {
    background-color: var(--background7);
}
/* Category section */
.category-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    padding-top: 30px;
    padding-bottom: 15px;
    /* border: 2px solid var(--background2);
    border-radius: 5px; */
    /* background-color: var(--background4); */
}
.category-section h1 {
    margin-bottom: 30px;
    font-size: 2.8em;
    
}
.category-flex {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    cursor: pointer;
}

.category-item {
    background-color: var(--background7);
    
    outline: 2px solid var(--background2);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.category-item:hover {
    color: var(--text-color1);
    background-color: var(--background2);
    transform: translateY(-3px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    outline: 2px dashed var(--background2);
}

.category-page {
    margin: auto;
}
.category-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--background2);
}
.category-header select {
    height: 35px;
    margin-left: 10px;
    font-size: 1.025em;
}
.category-header > * {
    margin-bottom: 5px;
}


/* Item card*/
.card-items {
    
    /* 
    my code duh
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 5px;
    padding: 25px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.card-bg {
    width: 185px;
    height: 300px;
    margin: auto;
    background-color: var(--background7);
    border-radius: 12px; 
    padding: 10px 20px 10px 20px;
    text-align: center;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card {
    /* 
    my code duh
    margin-top: 10px;
    background-color: var(--background3);
    width: 185px;
    height:245px;
    border: 2px solid var(--background2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit; */
    width: 100%;
    height: 90%;

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.items {
    margin: 50px auto 10px auto;
    padding-top: 5px;
    text-align: center;
    background-color:var(--background4);
    padding-bottom: 50px;
    border-radius: 8px;
    background-color: #ffffff77;
}
.items h1 {
    border-bottom: 2px solid var(--background2);
    width: 60%;
    margin: auto;
    padding: 20px 0 10px 0;
}

/*Item card animation*/
.card-bg:hover {
    background-color: var(--background1);
    animation: glow 800ms ease-out infinite alternate;
    transform: translateY(-1px);
    border-color: black;
    color: black;
    border-style:dashed;
}
@keyframes glow {
    0% {
		box-shadow: 0 0 7px var(--background2);
    }	
    100% {
		box-shadow: 0 0 7px var(--background1);
    }
}

.card img {
    /* height:70%; */
    height: 155px;
    width: 100%;
    object-fit: contain;
    border-bottom: 2px solid var(--background2);
    
}                     
.card img:hover {
    border-bottom-color: black;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--background7); 
    margin:15% auto;
    padding: 20px; 
    width: 300px; 
    border-radius: 8px;
    position: relative;
}
.modal-product-image {
    width: 100%;
    max-height: 200px; 
    object-fit: contain;
}
#modal-cart-form input{
    width: 50px; 
    margin-bottom: 15px;
}
.modal-btn {
    width: 100%; 
    padding: 10px; 
    background: var(--background2); 
    color: var(--background7); 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}
/* The Close Button */
.close-btn {
  position: absolute; 
  right: 15px; 
  top: 10px; 
  cursor: pointer; 
  font-size: 24px;
}

/* Product Page */
 .product-card {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: var(--background4);
    padding: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
 }
 .product-button {
    width: 50%;
    height: 45px;
    margin-top: 15px;
    padding-top: 12px;  
 }
 .product-information {
    display: flex;
    justify-content: space-around;
 }

 .product-information img {
    width: 48%; 
    height: 100%;
    object-fit:cover; 
}
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.product-information input[type="number"] {
    width: 50px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-information div {
    width: 48%;
}
.info {
    font-size: 1.5em;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info * {
    padding-bottom: 15px;
}


.review-section {
    margin: 40px 0 30px 150px;
    width: 80%;
    padding: 5px;
}
.review-section h1 {
    border-bottom: 2px solid var(--background2);
    width: 16%;
}
.review {
    padding: 10px;
    background-color: var(--background6); 
    margin: 10px 0;
    width: 100%;
}


/* .reviews {
    margin: 30px auto;
    padding: 15px;
    border-color: var(--background2);
    border-radius: 10px;
    background-color: var(--background4);
}
.reviews legend {
    font-weight: bolder;
    border: 2px solid var(--background2);
    background-color: var(--background3);
}
.review {
    padding: 10px;
    background-color: var(--background6); 
    margin-bottom: 10px;
}
.review div {
    display: flex;
    align-items: center;
}
.star-review {
    margin-left: 20px;
} */



/* @media screen and (min-width: 100px) and (max-width: 800px) {
  .product-information {
    font-size: 1.1em;
  }
} */

/* Profile */
.side-margin {
    margin-left: 170px;
}
.header {
    padding-top: 20px;
    width: 90%;
    display:flex;
    border-bottom: 2px solid var(--background2);
    align-items:end;
    justify-content: space-between;
    margin: auto;
    font-size: 1.25em;
}
.header * {
    padding-bottom: 6px;
}
.profile-page {
    width: auto;
    height: 100%;
}
.profile {
    width: 100%; 
    height: 50%;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding-left: 10px;

    /* width: 100%; */
    /* height: 86vh;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left: 170px;
    margin-top: auto; */
}
.profile img {
    width: 290px;
    border-radius: 50%;
    height: fit-content;
    outline: 2px solid var(--background2);
    outline-offset: 3px;
    background-color: var(--background2);
}
.profile-information {
    margin-left: 20px;
}
.profile-information p:first-child {
    font-size: 20px;
    font-weight: bolder;
}
.sidenav {
    margin: 0;
    height: 100vh;
    width: 170px;
    position:fixed;
    top: 0;
    background-color: var(--background2);
    color: var(--background1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2em;
}
.sidenav a:last-child:hover {
    background-color: var(--color1);
    transform: translateY(-2px);
}
.sidenav a:last-child {
    padding-bottom:10px;
    padding-top: 5px;
}
#sidenav-option li{
    margin-bottom: 15px;
    padding: 10px;
}
#sidenav-option li:hover {
    background-color: var(--color1);
    transform: translateY(-2px);
}
/* #sidenav-option li:first-child {
    font-size: 1.9em;
} */
.logout:hover {
    color: red;
    cursor: pointer;
}

/* Shopping Cart Page */
.shopping-cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--background4);
}
.shopping-cart .header {
    margin-bottom: 30px;
}
.cart-card, .data-slip {
    /* width: 100%;
    height: 220px;
    background-color: var(--background3);
    display: flex;
    border: 2px solid var(--background2);
    align-items: center; */
    display: flex;
    background-color: var(--background7);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.cart-card > *:not(.counter) {
    width: 21%;
    height: 20%;
}
.data-slip {
    height: 60px;
    font-size: 0.8em;
    padding: 4px;
}
.data-slip > * {
    width: 12%;
    /* height: 12%; */
}
.data-slip .cart-information {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}
.cart-card:hover, .data-slip:hover {
    animation: glow 1600ms ease-out infinite alternate;
    transform: translateY(-1px);
}
/* .cart-card img {
    width: 230px;
    height: auto;
}
.cart-card input[type="checkbox"] {
    margin-left:45px;
}
.cart-information {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
} */
.counter {
    display: flex;
    background-color: var(--background5);
    outline: 2px solid var(--background2);
    border-radius: 8px;
    align-items: center;
    
}
.counter p {
    padding: 7px 10px;
    display: flex;
    justify-content: center;
}
.counter p {
    border-left: 2px solid var(--background2);
    border-right: 2px solid var(--background2);
}
.counter button {
    all: unset;
    padding: 7px 10px;

}

/* Log in Page */
.login-background {
    background: linear-gradient(var(--background2), var(--text-color2));
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page {
    width: 75%;
    height: 80%;
    background-color: var(--background1);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 2px solid var(--background7);
    outline-offset: 6px;
}
.login-button {
    width: 140px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.login-page img {
    width: 38%;
    height: auto;
}
.login-form {
    width: 50%;
    height: 100%;
    padding: 25px;
    border-radius: 8px;
    padding-top: 145px;
}
.login-form h1 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 2.5em;
}
.google-login-button {
    border: 2px solid var(--background2);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.google-login-button:hover {
    color: var(--text-color1);
    background-color: #023E8A;  
    transform: translateY(-3px); 
    cursor: pointer;
}
.google-icon:hover {
    transform: translateY(-3px);
}
.horizontal-line {
    height: 90%;
    width: 2px;
    background-color: var(--background2);
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
.underline:hover {
    color: black;
    text-decoration: underline;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Staff Dashboard */
.info-cards {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.info-card {
    background: var(--background7);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-left: 5px solid var(--background2);
    font-weight: bold;
}
.info-card:hover {
    transform: translateY(-1px);
}
.graph {
    width:600px;
    height:500px;
}

/* Add Product Page in staff menu*/
.add-product {
    display: flex;
    margin: 55px auto 0 auto;
}
.image-input {
    display: flex;
    flex-direction: column;
    width: 440px;
    padding-top: 30px;
}
.image-input img {
    width: 100%;
    margin-bottom: 10px;
}
.product-detail {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    width: 45%;
    margin-left: 80px;
}
.product-detail h1 {
    margin-bottom: 60px;
    font-size: 2.5em;
}
.product-detail input{
    width: 100%;
    margin-bottom: 40px;
}
.product-detail button {
    margin-top: 40px;
}

/* Manage Data page (staff) */
.data-list {
    height: 77vh;
    margin: auto;
    padding: 10px;
    overflow-y:auto;
}
.data-filter {
    margin: 30px auto 10px auto;
    display: flex;
    justify-content: center;
}
.data-filter .search-bar {
    margin-right: 6px;
}
.data-list * {
    margin-bottom: 10px;
}
.update:hover {
    color: green;
}

/* update data page */
.updateProduct {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.updateProduct div:first-child {
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
}
.updateProduct div:first-child img {
    height: 40vh;
    width: fit-content;
}
.updateProduct input[type="file"] {
    margin: auto;
    width: auto;
}

.updateInfo {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column; 
}
.updateInfo > * {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.updateInfo label:last-child {
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    outline-offset: 8px;
}



/* Login page */
@media only screen and (max-width: 1000px) {
    .login-page img, .horizontal-line {
        display: none;
    }
    .login-form {
        width: 100%;
        padding: 50px 0 0 0;
    }

}

/* Mobile */
@media only screen and (max-width: 600px) {
    /* main menu */
    .top-bar-img {
        width: 45px;
        height: 45px;
    }
    .main-content h1 {
        font-size: 1.4em;
    }
    .sales-banner {
        display: none;
    }
    .container {
        width: 99%;
    }
    .card-items {
        padding: 0;
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    }
    .card-bg {
        width: 155px;
        height: 265px;
        font-size: 0.85em;
    }
    .category-section {
        margin-top: 0;
        height: 110px;
    }
    .category-item{
        width: 65px;
        height: 65px;
        font-size: 0.8em;
    }

    /* customer profile */
    .profile img {
        width:170px
    }
    .profile {
        flex-direction:column;
        align-items: center;
    }
    .header {
        font-size: 0.95em;
    }



    /* Staff Menu */
    .side-text {
        display: none;
    }
    .sidenav {
        width: 50px;
    }
    .side-margin {
        margin-left: 50px;
    }
    .graph {
        display:none;
    }

    /* Manage Data Page */
    .manage-page {
        font-size: 0.85em;
    }
}